<div class="row col-lg-8 col-lg-offset-2">
  <h3 align="center"><%= @question.content %></h3>
  <div align="center">
    <%= image_tag @question.image.url(:medium) %>
  </div>
  <%= form_for @question do |f| %>
    <% @question.answers.each do |answer| %>
        <div class="inputGroup">
          <%= f.radio_button :id, answer.id %>
          <%= f.label :id, answer.content, value: answer.id %>
        </div>
    <% end %>
  <% end %>
</div>