<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="header">
        <h4 class="title"><%= title %></h4>
      </div>
      <div class="content">
        <%= form_for [:admin, @category], class: "card" do |f| %>
          <%= render "shared/error_messages", object: f.object %>
          <%= f.label :name, label %>
          <%= f.text_field :name, class: "form-control" %>
          <br>
          <%= link_to "Back", :back, class: "btn btn-danger btn-sm" %>
          <%= f.submit button, class: "btn btn-success btn-sm pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
