<% provide :title, title %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="card">          
          <div class="content">
            <%= form_for [:admin, @user] do |f| %>
              <%= render "shared/error_messages", object: f.object %>
              <div align="center">
                <%= image_tag @user.image.url, size: "200" %>
              </div><br>
              <div align="center">
                <div class=" btn btn-primary"
                style="width: 120px; height: 30px; font-size: 20">
                <%= f.label :image, "Upload image" %>
                <%= f.file_field :image, class: "picture",
                accept: "image/jpeg,image/gif,image/png" %>
                </div>
              </div><br>
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control" %>
              <%= f.label :birthday %>
              <%= f.date_field :birthday, class: "form-control" %>
              <%= f.label :address %>
              <%= f.text_field :address, class: "form-control" %>
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control" %>
              <% if button == "Create" %>
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control" %>
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: "form-control" %><br>
              <% end %>
              <%= link_to "Back", :back, class: "btn btn-danger btn-sm" %>
              <%= f.submit button, class: "btn btn-success btn-sm pull-right" %><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
