<h1>User Information</h1>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="card">
          <div align="center">
            <%= image_tag @user.image.url, size: "100" %>
          </div>
          <div class="content">
            User name :<%= text_field_tag "name", nil,
              placeholder: "#{@user.name}", disabled: true, class: "form-control" %><br>
            Birthday :<%= text_field_tag "birthday", nil,
              placeholder: "#{@user.birthday}", disabled: true, class: "form-control" %><br>
            Address :<%= text_field_tag "address", nil,
              placeholder: "#{@user.address}", disabled: true, class: "form-control" %><br>
            Email :<%= email_field_tag "email", nil,
              placeholder: "#{@user.email}", disabled: true, class: "form-control" %><br>
            <%= link_to "Back to list user", admin_users_path, class: "form-control btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
