<% provide :title, "Test list" %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="content table-full-width">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Test_id</th>
              <th>Category</th>
              <th>User</th>
              <th>Result</th>
              <th>Detail</th>
            </tr>
          </thead>
          <tbody>
            <% @tests.each do |test| %>
              <tr>
                <td><%= test.id %></td>
                <td><%= test.questions.first.category.name %></td>
                <td><%= test.user.name %></td>
                <td><%= test.result %> / 5</td>
                <td>
                  <%= link_to admin_test_path(test) do %>
                    <i class="fas fa-info-circle"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= will_paginate(@users, 
      :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, 
      class: "justify-content-end", style: "float: right") %>
  </div>
</div>
