<div class="sidebar" data-color="black" data-image= <%= image_path ("/assets/sidebar-4.jpg")%>>
  <div class="sidebar-wrapper">
    <div class="logo">
      <%= link_to admin_root_path, class: "simple-text" do %>
      Quiz
      <% end %>
    </div>
    <ul class="nav">
      <% unless logged_in? %>
        <li>
          <%= link_to admin_login_path do %>
            <i class="pe-7s-graph" ></i>
            <p>Dashboard</p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_login_path do %>
            <i class="pe-7s-user"></i>
            <p>User list</p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_login_path do %>
            <i class="pe-7s-note2"></i>
            <p>Test list</p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_login_path do %>
            <i class="pe-7s-target"></i>
            <p>Categories</p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_login_path do %>
            <i class="pe-7s-pen"></i>
            <p>Quizzes</p>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to admin_root_path do %>
            <i class="pe-7s-graph" ></i>
            <p>Dashboard</p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_users_path do %>
            <i class="pe-7s-user"></i>
            <p>User list</p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_tests_path do %>
            <i class="pe-7s-note2"></i>
            <p>Test list</p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_categories_path do %>
            <i class="pe-7s-target"></i>
            <p>Categories</p>
          <% end %>
        </li>
        <li>
          <%= link_to admin_questions_path do %>
            <i class="pe-7s-pen"></i>
            <p>Quizzes</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
